[Unit]
Description=Nullnet server
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/nullnet/members/nullnet-server
EnvironmentFile=/root/nullnet/members/nullnet-server/.env
ExecStart=/root/nullnet/target/release/nullnet-server
Restart=always

[Install]
WantedBy=multi-user.target
